
*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    font-family: var(--ff);

}



:root{
    /* Color */
    /* Neutral */

    --Dark-blue : 223, 47%, 23%;
    --Des-blue: 224 , 23% ,55%;
    --very-pale-blue: 225,100%,98%;

    /* Primary */
    --pale-blue: 225,100%,94%;
    --bright-blue: 245, 75%,52%;

    --border-radius: 10px;

    /* Fonts */

    --ff:'Red Hat Display', sans-serif;
    

}

.ff-500{
    font-weight: 500px;
}
.ff-700{
    font-weight: 700;
}

.ff-900{
    font-weight: 900;
}

ul{
    list-style: none;
}



.flex{
 display: flex;
 gap: 7rem;
 align-items: center;
 justify-content: center;
}

.content{
    margin-top: 20px;
    gap: 2rem;
}

.padding{
    padding-inline: 30px;


}

.text-opacity{
    color: hsl(var(--Des-blue));
}

.align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}


.secondary-container{
    background: url(images/pattern-background-desktop.svg) no-repeat ;
    background-color: hsl(var(--pale-blue));
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
   height: 45rem;
    width: 450px;
    border-radius: var(--border-radius);
    margin:   auto;  
    background-color: white;
    
    
}

.container > img{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.p{
   padding: 0px 20px;
    text-align: center;
    line-height: 1.5;
    
}

.plan,.button-bg{
    width: 23rem;
    border-radius: var(--border-radius);
}

.plan{
    
    background-color: hsl(var(--very-pale-blue));
    height: 5rem;
   
}

a{
    color: hsl(var(--bright-blue));
}

.button-bg{
    font-family: var(--ff);
    border: none;
    height: 50px;
    color: white;
    background-color: hsl(var(--bright-blue));
    box-shadow: 0px 10px  18px hsl(var(--Des-blue ) );
}

.button-cancel{
    font-family: var(--ff);
    border: none;
    background-color: white;
    width: 23rem;
    height: 2rem;
}


.button-bg:hover ,.button-cancel:hover, a:hover{
    cursor: pointer;
    text-decoration: none;
}

.music{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


@media only screen and (max-width: 375px) {
    body {
             max-width: 375px;
            
        }

        .secondary-container{
            background: url(images/pattern-background-mobile.svg ) no-repeat ;
            background-color: hsl(var(--pale-blue));
            width: 375px;
            height: 100vh;
            
        }

        .container{
            width: 350px;
            height: 38rem;
        }

        .container > img{
            width: 350px;
        }

        h1{
            font-size: 24px;
        }
        
        p,a,.plan{
            font-size: 14px;
        }

        .plan{
            width: 20rem;
            gap: 6rem;
        }
        .button-bg,.button-cancel{
            width: 20rem;
        }
       
}


